<button *ngIf="!emojiPickerOptions.options.sheet; else sheetButton"
        class="emoji-button"
        (click)="buttonClikedHandler($event)">

  {{emoji[0]}}
</button>

<ng-template #sheetButton>

  <span class="emoji-button-from-sheet-enclosure"
        (click)="buttonClikedHandler($event)">
    <span class="emoji-button-from-sheet"
          [style.backgroundImage]="'url(' + emojiPickerOptions.url + ')'"
          [style.backgroundPositionX]="-emojiPickerOptions.locator(emoji[1]).x * 25 + 'px'"
          [style.backgroundPositionY]="-emojiPickerOptions.locator(emoji[1]).y * 25 + 'px'">
    </span>
  </span>

</ng-template>
